
* {
    margin: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    height:100vh;
     font-family: Arial, sans-serif;
    
}

header,footer{
    background-color:rgb(61, 87, 235);
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1.5rem;
   
}


header{
    display:flex;
    justify-content: space-between;
}

nav li{
    list-style : none;
    display:inline-block;
}

li a {
    text-decoration: none ;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

li a:hover{
    color: violet;
}


.affichage {
    display:flex;
    justify-content: space-around;    
}



main{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    
}


.presentation{
    margin:5px;
    font-family: Arial, sans-serif;
}

